<h1>Testing the output</h1>

{{#each posts as |post|}}
<li>
  {{> forum-info post}}
</li>

  {{> comment-info post.comments}}

{{!-- Comment: This is for the post --}}
{{/each}}

{{!-- {{#if loggedIn}} --}}
<script src="/javascript/bounties.js"></script>
{{!-- {{/if}} --}}