<div class="dropdown" style="padding-top: 5%; margin-bottom: 3%">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Dropdown button
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/post/1">Python</a>
    <a class="dropdown-item" href="/post/2">HTML</a>
    <a class="dropdown-item" href="/post/3">CSS</a>
    <a class="dropdown-item" href="/post/4">JavaScript</a>
    <a class="dropdown-item" href="/post/5">TypeScript</a>
    <a class="dropdown-item" href="/post/6">Java</a>
    <a class="dropdown-item" href="/post/7">Ruby</a>
  </div>
</div>
<br>
<br>
<table id='top' style="margin: auto; width:90%">
  <tr>
    <td style="width: 85%;">
      {{#each posts as |post|}}
      <li>
        {{> forum-info post}}
      </li>

      {{> comment-info post.comments}}

      <br>
      <hr>

      {{/each}}

    </td>
    <td style="border-left-style: solid;">
      <section class="headlinePosts">
        {{#each posts as |post|}}
        <a href="#{{post.id}}">
          <div class="headlinePost-title" style="height: 100px; border:1px black solid; ">
            <h4>{{post.title}}</h4>
          </div>
        </a>
        {{/each}}
      </section>

      {{!-- Relative button to go to top --}}
      <a href="#top">
        <div class="headlineBackTop">
          <h4>Back to the top!</h4>
        </div>
      </a>

    </td>
  </tr>
</table>

{{!-- {{#if loggedIn}} --}}
{{!-- Comment: This is for the post --}}
<script src="/javascript/comment.js"></script>
{{!-- {{/if}} --}}