li {
  list-style-type: none;
}

.commentAlignment{
  margin-left: 20%;
  margin-right: 5%;
}

.cardWithComments{
  /*border: 1px solid;*/
  margin-bottom: 0;
  padding: 15px;

  text-align: center;
}

.headlinePosts{
  position: absolute;
  top: 100px;
}

.headlinePosts div:hover{
  background-color: lightblue;
}

/* BELOW CSS IS FROM THE LESSON. NEED TO BE REPLACED */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* USER PROFILE STYLE START */
  .page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  }

  .page-title h1{
    border-bottom: 1px solid;
  }

  .user-profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding: 0 8%;
  }

  .card {
    border: 1px solid;
    margin-bottom: 15%;
    padding: 15px;
  }

  .card-title {
    font-size: 1.5vw;
  }

  .profile-links {
    display: flex;
    justify-content: center;
  }

  .profile-links a {
    margin: 0 3%;
  }
  /* USER PROFILE STYLE END */

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  