* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********* MAIN PAGE STYLING ********/
header {
  position: fixed;
  z-index: 9999;
  width: 100%;
}

.navbar-brand {
  font-size: 1.5vw;
}

.container-fluid {
  padding: 8px 20px;
  font-size: 1.2vw;
}

.navbar {
  border-radius: 0;
  margin: 0;
  border: 0;
}


.jumbotron {
  background-image: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(../img/landing.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  color: rgb(190, 189, 189);
  margin-bottom: 0;
}

.about {
  margin-left: 3%;
  margin-top: 10%;
}

.about h1 {
  width: auto;
  overflow: hidden; 
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  display: inline-block;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { max-width: 0 }
  to { max-width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.about p {
  font-weight: 400;
  margin-top: 3%;
  line-height: 1.7;
}

.description{
  animation:2.5s ease 0s normal forwards 1 fadein;
  -webkit-animation:2.5s ease 0s normal forwards 1 fadein;
  opacity:1
  }
  
  @keyframes fadein{
      0%{opacity:0}
      80%{opacity:0}
      100%{opacity:1}
  }
  @-webkit-keyframes fadein{
    0%{opacity:0}
    80%{opacity:0}
    100%{opacity:1}
}

.arrow {
  display: flex;
  justify-content: center;
  margin-top: 18%;
}

.glyphicon-chevron-down {
  font-size: 3vw;
  color: #718484;
  -webkit-animation: bounce 6s infinite;
  animation: bounce 6s infinite;
}

@keyframes bounce {
  0%   {top: 0px;}
  25%  {top: 50px;}
  50%  {top: 0px;}
  75%  {top: 50px;}
  100% {top: 0px;}
}

@-webkit-keyframes bounce {
  0%   {top: 0px;}
  25%  {top: 50px;}
  50%  {top: 0px;}
  75%  {top: 50px;}
  100% {top: 0px;}
}

.container {
margin-bottom: 20%;
background-color: #718484;
width: 100%;
min-height: 100vh;
}

.row {
  margin: 15rem auto 0 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-size: 1.1vw;
}

.about-img {
  width: 375px;
  height: 275px;
}

/********* MAIN PAGE STYLING END ********/

.edit-input {
  background-color: #e4e4e4;
  color: rgb(63, 63, 63);
  font-size: 1.7vw;
}


.btn-dark {
  background-color: #000;
  color: #ccc;
  margin: auto;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

.login-form {
  width: 30%;
  margin: auto;
  padding: 0 2%;
  border: 1px solid;
  border-radius: 30px;
  background-color: #ccc;
}

.login-btn {
  margin: 0 auto 6% auto;
  width: 25%;
}

.register-form {
  width: 50%;
  margin: 0 auto 5% auto;
  background-color: #ccc;
  padding: 1% 2% 2%;
  border: 1px solid;
  border-radius: 30px;
}

.form-control {
  height: 4vw;
  margin-bottom: 2%;
}

li {
  list-style-type: none;
}

.commentAlignment{
  margin-left: 15%;
  margin-right: 10%;
}

.cardWithComments{
  /*border: 1px solid;*/
  margin-bottom: 0;
  padding: 15px;

  text-align: center;
}

.headlinePosts{
  position: absolute;
  top: 100px;
  bottom: 0px;
}

.headlinePost-title{
  display:flex;
  align-items: center;
}

.headlinePosts div:hover{
  background-color: lightblue;
}

.headlineBackTop {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  text-align: center;
  /*border: 2px solid lightblue;*/
  background-color:lightblue ;
}
/* PERSONAL PROFILE STYLES */
.profile {
  background-color: #ccc;
}

.page-title {
  width: 50%;
  margin: auto;
}

.page-title h2 {
  font-size: 3.5vw;
}

.post-form {
  width: 50%;
  margin: 0 auto 8% auto;
  padding: 0 2% 2% 2%;
}

.user-bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.user-about {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2%;
  margin-right: 10%;
  font-size: 1.1vw;
  line-height: 1.5;
}

.user-bio img {
  height: 250px;
  width: 250px;
  margin: 30px 30px 0 30px;
  border-radius: 50%;
}

.edit-post-btn {
  width: 5%;
  margin: 0 auto 5% auto;
}
/*  END */



  /* USER PROFILES STYLE START */
  .page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  }

  .page-title h1{
    border-bottom: 1px solid;
  }

  .user-profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding: 0 8%;
  }

  .card {
    border: 1px solid;
    margin-bottom: 15%;
    padding: 15px;
    transition: box-shadow 1s;
  }

  .card:hover {
    box-shadow: 0 0 3px #515151;
  }

  .card-title {
    font-size: 1.5vw;
  }

  .profile-card-img {
    height: 275px;
    width: 200px;
    margin: auto;
    object-fit: scale-down;
  }

  .profile-links {
    display: flex;
    justify-content: center;
  }

  .profile-links a {
    margin: 0 3%;
  }
  /* USER PROFILE STYLE END */

/******************************************/

  /* EDIT POST FORM START */

  .edit-post-form {
    width: 50%;
    margin: auto;
    padding: 0 2%;
    border: 1px solid;
    border-radius: 30px;
  }

  .post-details {
    margin-bottom: 3%;
  }

  .button-options {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .comment-form {
    width: 30%;
    margin: auto;
    padding-top: 3%;
  }
  /* EDIT POST FORM END */

  footer {
    position: sticky;
    top: 100%;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  