li {
  list-style-type: none;
}

/* BELOW CSS IS FROM THE LESSON. NEED TO BE REPLACED */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* USER PROFILE STYLE START */
  .page-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  }

  .page-title h1{
    border-bottom: 1px solid;
  }

  .user-profiles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5%;
    padding: 0 8%;
  }

  .card {
    border: 1px solid;
    margin-bottom: 15%;
    padding: 15px;
  }

  .card-title {
    font-size: 1.5vw;
  }

  .profile-links {
    display: flex;
    justify-content: center;
  }

  .profile-links a {
    margin: 0 3%;
  }
  /* USER PROFILE STYLE END */

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  